<!DOCTYPE html>

<html lang="en" class="gr__getbootstrap_com">

<head>

    <!-- Metadata -->
    <link rel="icon" href="files/images/favicon.ico">
    <title>ICAPS-2019</title>

    <!-- Bootstrap core CSS -->
    <link href="bootstrap-4.0.0/css/bootstrap.min.css" rel="stylesheet">

    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">

    <!-- Custom styles for this template -->
    <link href="files/css/offcanvas.css" rel="stylesheet">
    <link href="files/css/custom.css" rel="stylesheet">

    <!-- jQuery -->
    <script src="files/js/jquery-3.2.1.min.js"></script>

    <!-- Bootstrap core JS -->
    <script src="bootstrap-4.0.0/js/popper.min.js"></script>
    <script src="bootstrap-4.0.0/js/bootstrap.min.js"></script>

    <!-- Custom JS -->
    <script src="files/js/custom.js"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="files/js/ie10-viewport-bug-workaround.js"></script>

</head>

<body data-spy="scroll" data-offset="100">

    [HEADER]

    [NAVBAR]

    [BANNER]

    <!-- this is the div containing *everything* under the banner -->
    <div class="set-background">

        <!--  follwoing two div only contributes to positioning of all on/off-canvas elements -->
        <div class="col-12 justify-content-center">
            <div class="row row-offcanvas row-offcanvas-right">

                <!--  this div contains the on-canvas elements -->
                <div class="col-12">
                    <div class="row">

                        <div class="col-12 col-xl-3">

                            [QUICKLINKS]

                            <!-- [DATES] -->

                        </div>

                        <div class="col-12 col-xl-9 call-card">

                            <div class="row" id="awards">

                                <div class="col-12">

<div class="jumbotron info-card info-card-page-title">
<ol class="breadcrumb breadcrumb-header">
<li class="breadcrumb-item breadcrumb-item-primary">
<h5 class="card-title">ICAPS 2019 Awards</h5>
<table class="info-table">
  <tbody class="text-justify go-big-for-current-font">
      <tr><td class="indent" style="font-weight: normal;">For more details, click <a class="profile" href="http://www.icaps-conference.org/index.php/Main/Awards" target="_blank">here</a>.</td></tr>
  </tbody>
</table>
</li>
</ol>
</div>


                                    <div class="jumbotron info-card text-color info-card-page-title">

                                        <ol class="breadcrumb breadcrumb-header org-team-header">
                                        <li class="breadcrumb-item breadcrumb-item-primary">
                                            <h5 class="card-title">ICAPS 2019 Conference Awards</h5>
                                        </li>
                                        </ol>

                                        <div class="container" style="padding-top: 20px; padding-bottom: 20px;">                                        

                                            <p class="text-color go-for-nunito">

                                                <ul>
                                                    <li>
                                                        <span class="profile">Best Paper Award</span> &middot; 
                                                        <b>Lagrangian Decomposition for Optimal Cost Partitioning</b> &middot;
                                                        Florian Pommerening, Gabriele Röger, Malte Helmert, Hadrien Cambazard, Louis-Martin Rousseau and Domenico Salvagnin.
                                                    </li>
                                                    <li>
                                                        <span class="profile">Best Applications Paper Award sponsored by UTRC</span> &middot; 
                                                        <b>ZAC: A Zone pAth Construction Approach for Effective Real Time Ride Sharing</b> &middot;
                                                        Meghna Lowalekar, Pradeep Varakantham and Patrick Jaillet.
                                                    </li>
                                                    <li>
                                                        <span class="profile">Best Student Paper Award</span> &middot;
                                                        <b>Generalized Lazy Search for Robot Motion Planning: Interleaving Search and Edge Evaluations via Event-based Toggles</b> &middot;
                                                        Aditya Mandalika, Sanjiban Choudhury, Oren Salzman and Siddhartha Srinivasa.
                                                    </li>
                                                    <li>
                                                        <span class="profile">Best Student Paper Award (Honorable Mention as the runner-up)</span> &middot;
                                                        <b>Quantifying Degrees of Controllability in Temporal Networks with Uncertainty</b> &middot;
                                                        Shyan Akmal, Savana Ammons, Maggie Li and Jim Boerkoel.
                                                    </li>
                                                    <li>
                                                        <span class="profile">Best System Demo Award</span> &middot;
                                                        <b>Planimation</b> &middot;
                                                        Gang Chen, Yi Ding, Hugo Edwards, Chong Hin Chau, Sai Hou, Grace Johnson, Mohammed Sharukh Syed, Haoyuan Tang, Yue Wu, Ye Yan, Gil Tidhar and Nir Lipovetzky.
                                                    </li>
                                                    <li>
                                                        <span class="profile">Best SPC Award</span> &middot;
                                                        <b>Joerg Hoffmann</b> &middot; Saarland University
                                                    </li>
                                                    <li>
                                                        <span class="profile">Best PC Award</span> &middot;
                                                        <b>Jeremy Frank</b> &middot; NASA Ames
                                                    </li>
                                                    <li>
                                                        <span class="profile">Sparkle Planning Competition</span> &middot;
                                                        Please check the official results <a href="http://ada.liacs.nl/events/sparkle-planning-19/results.html" target="_blank" class="profile">here</a>.
                                                    </li>
                                                </ul>

                                            </p>                        

                                        </div>

                                    </div>

                                    <div class="jumbotron info-card text-color info-card-page-title">

                                        <ol class="breadcrumb breadcrumb-header org-team-header">
                                        <li class="breadcrumb-item breadcrumb-item-primary">
                                            <h5 class="card-title">ICAPS 2019 Influential Paper Award</h5>
                                        </li>
                                        </ol>

                                        <div class="container" style="padding-top: 20px; padding-bottom: 20px;">                                        

                                            <p class="text-color go-for-nunito">

                                                <ul>
                                                    <li>
                                                        <span class="profile">Winner</span> &middot;
                                                        <b>Ronen Brafman and Carmel Domshlak</b> &middot;
                                                        From One to Many: Planning for Loosely Coupled Multi-Agent Systems. (ICAPS 2008)
                                                    </li>
                                                    <li>
                                                        <span class="profile">Winner</span> &middot;
                                                        <b>Alfonso Gerevini and Ivan Serina</b> &middot;
                                                        LPG: A Planner Based on Local Search for Planning Graphs with Action Costs. (AIPS 2002)
                                                    </li>
                                                </ul>

                                            </p>                        

                                        </div>

                                    </div>

                                    <div class="jumbotron info-card text-color info-card-page-title">

                                        <ol class="breadcrumb breadcrumb-header org-team-header">
                                        <li class="breadcrumb-item breadcrumb-item-primary">
                                            <h5 class="card-title">ICAPS 2019 Best Dissertation Award</h5>
                                        </li>
                                        </ol>

                                        <div class="container" style="padding-top: 20px; padding-bottom: 20px;">                                        

                                            <p class="text-color go-for-nunito">

                                                <ul>
                                                    <li>
                                                        <span class="profile">Winner</span> &middot;
                                                        <b>Pascal Bercher</b>
                                                        for his dissertation <i>Hybrid Planning – From Theory to Practice</i>.
                                                    </li>
                                                    <li>
                                                        <span class="profile">Honorable Mention</span>  &middot;
                                                        <b>Tathagata Chakraborti</b>
                                                        for his dissertation <i>Foundations of Human-Aware Planning – A Tale of Three Models</i>.
                                                    </li>
                                                </ul>

                                            </p>                        

                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>
                </div><!-- end of on-canvas elements-->

            </div>
        </div><!-- end of canvas -->

        <div class="footer-container" style="margin-top: 100px;">

            <div class="d-block">
                <img src="files/images/banner_bottom.jpg" width="100%">
            </div>

            <div class="footer-bottom-left" style="width:100%;">

                <hr>

                <footer>
                    <p class="text-orange">&copy; ICAPS 2019 &middot; <a href="privacy-policy" class="text-orange">Privacy Policy</a> &middot; <a href="terms-of-use" class="text-orange">Terms of Use</a></p>
                </footer>

            </div>

        </div>

    </div>


</body>

</html>
