<!DOCTYPE html>

<html lang="en" class="gr__getbootstrap_com">

<head>

    <!-- Metadata -->
    <link rel="icon" href="files/images/favicon.ico">
    <title>ICAPS-2019</title>

    <!-- Bootstrap core CSS -->
    <link href="bootstrap-4.0.0/css/bootstrap.min.css" rel="stylesheet">

    <!-- Open-Iconic CSS -->
    <link href="open-iconic/font/css/open-iconic-bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="files/css/offcanvas.css" rel="stylesheet">
    <link href="files/css/custom.css" rel="stylesheet">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Abel:400,700|Quattrocento+Sans" rel="stylesheet">

    <!-- jQuery -->
    <script src="files/js/jquery-3.2.1.min.js"></script>

    <!-- Bootstrap core JS -->
    <script src="bootstrap-4.0.0/js/popper.min.js"></script>
    <script src="bootstrap-4.0.0/js/bootstrap.min.js"></script>

    <!-- Custom JS -->
    <script src="files/js/custom.js"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="files/js/ie10-viewport-bug-workaround.js"></script>

</head>

<body data-spy="scroll" data-target="#cfp-body" data-offset="100" id="cfp-body">

    [HEADER]

    [NAVBAR]

    <!-- this is the div containing *everything* under the banner -->
    <div class="set-background">

        <!--  follwoing two div only contributes to positioning of all on/off-canvas elements -->
        <div class="col-12 justify-content-center">
            <div class="row row-offcanvas row-offcanvas-right">

                <!--  this div contains the on-canvas elements -->
                <div class="col-12">
                    <div class="row">

                        <div class="col-12 col-xl-3">

                            [DATES]

                            [QUICKLINKS]

                        </div>

                        <div class="col-12 col-xl-9 call-card">

                            <div class="row" id="cfp">

                                <div class="col-12">

                                    <div class="jumbotron info-card text-color">

                                        <a role="button" href="files/images/icaps2019.png" target="_blank" class="btn btn-sm btn-outline-secondary" style="margin-bottom: 10px;"> 
                                            Download the ICAPS-2019 Poster
                                        </a>

<!-- 
                                        <nav aria-label="breadcrumb" role="navigation">
                                            <ol class="breadcrumb breadcrumb-header">
                                                <li class="breadcrumb-item breadcrumb-item-primary">
                                                   <h5 class="text-left">&nbsp;Call for Papers</h5>
                                                </li>
                                                <li class="breadcrumb-item breadcrumb-item-secondary" aria-current="page">
                                                   Main Track
                                                </li>
                                            </ol>
                                        </nav>

                                        <p class="text-color go-for-nunito">
                                        </p>                        

                                        <nav aria-label="breadcrumb" role="navigation">
                                            <ol class="breadcrumb breadcrumb-header">
                                                <li class="breadcrumb-item breadcrumb-item-primary">
                                                   <h5 class="text-left">&nbsp;Call for Papers</h5>
                                                </li>
                                                <li class="breadcrumb-item breadcrumb-item-secondary" aria-current="page">
                                                   Novel Applications Track
                                                </li>
                                            </ol>
                                        </nav>

                                        <p class="text-color go-for-nunito">
                                        </p>                        
 -->

                                        <nav id="cfp-robotics" aria-label="breadcrumb" role="navigation">
                                            <ol class="breadcrumb breadcrumb-header">
                                                <li class="breadcrumb-item breadcrumb-item-primary">
                                                   <h5 class="text-left">&nbsp;Call for Papers</h5>
                                                </li>
                                                <li class="breadcrumb-item breadcrumb-item-secondary" aria-current="page" style="color:#2fc52d;">
                                                   Robotics Track
                                                </li>
                                            </ol>
                                        </nav>

                                        <p class="text-color go-for-nunito">
The Robotics Track welcomes research contributions in the general areas of planning and scheduling (P&S), which relate to the advancement of intelligent robots. P&S models and techniques are important for enabling autonomous, flexible, and interactive behaviors in robotic systems. A deep integration of these methods into robotic architectures can assist their effective deployment. In this direction, the ICAPS-2019 Robotics track provides an opportunity for the planning and robotics communities to share research progress in the area of robot planning and showcase the use of planning and scheduling technology in robotics applications.

<br>
<br>

Submission of papers that have been demonstrated on actual robotic systems or those that focus on impacting real-world application domains (e.g. logistics, transportation, manufacturing, etc.) are specifically encouraged.
Topics include, but are not limited to:

<ul>
<li> integrated task and motion planning </li>
<li> learning methods for robot planning </li>
<li> integrated planning and execution for long-term autonomy </li>
<li> plan execution, failure detection and recovery </li>
<li> planning with uncertainty in robotics </li>
<li> multi-robot planning, scheduling/coordination, and execution </li>
<li> planning for perception </li>
<li> manipulation task and/or motion planning </li>
<li> explanation models and learning for autonomous robots </li>
<li> human-aware planning and execution in human-robot interaction </li>
<li> mixed-initiative planning and adjustable autonomy </li>
<li> planning methods in cognitive robotics </li>
<li> adversarial action planning in competitive robotic domains </li>
<li> representation and acquisition of planning models for robotics </li>
<li> formal methods for robot planning and control </li>
<li> safety, ethics, and transparency in robot planning </li>
<li> benchmark planning domains for robots </li>
<li> real-world applications of planning for intelligent robots </li>
</ul>

Please direct all questions to
<span class="obfuscate">moc.liamg@9102kcartborspaci</span>.

<ul>
<li>Robotics Track Chairs - 
<a class="profile" href="http://www.pracsyslab.org/bekris" target="_blank">Kostas Bekris</a> (Rutgers) and <a class="profile" href="http://wpage.unina.it/alberto.finzi/" target="_blank">Alberto Finzi</a> (UniNa)
</li>
</ul>

                                        </p>                        

                                        <nav id="cfp-pal" aria-label="breadcrumb" role="navigation">
                                            <ol class="breadcrumb breadcrumb-header">
                                                <li class="breadcrumb-item breadcrumb-item-primary">
                                                   <h5 class="text-left">&nbsp;Call for Papers</h5>
                                                </li>
                                                <li class="breadcrumb-item breadcrumb-item-secondary" aria-current="page" style="color:#4083ff;">
                                                   Planning and Learning Track
                                                </li>
                                            </ol>
                                        </nav>

                                        <p class="text-color go-for-nunito">
In 2019, ICAPS will run a Planning and Learning track as part of the main conference. 
Machine learning has impacted all aspects of Artificial Intelligence and 
Computer Science, and planning is no exception. This new track provides 
an opportunity for the AI planning and scheduling community to engage 
directly with developments in the learning community for the benefit of 
both.

<br>
<br>

The Planning and Learning track aims to present research at the 
intersection of the fields of machine learning and planning & 
scheduling. In particular, we are interested in work that draws 
substantially from the objectives, techniques, or methodologies of both 
fields. Topics include, but are not limited to:

<ul>
<li> Reinforcement learning </li>
<li> Learning to improve the effectiveness of planning & scheduling systems </li>
<li> Learning domain models </li>
<li> Planning & scheduling in learned domain models </li>
<li> Learning effective heuristics and other forms of control knowledge </li>
<li> Planning applied to automating machine learning systems </li>
<li> Applications that involve a combination of learning with planning or scheduling </li>
</ul>

Please direct any questions to 
<span class="obfuscate">moc.elgoog@nnamyhtomit</span> 
and 
<span class="obfuscate">ude.etatsnogero@nref.nala</span>.

<ul>
<li>Planning and Learning Track Chairs - 
<a class="profile" href="http://web.engr.oregonstate.edu/~afern/" target="_blank">Alan Fern</a> (OSU) and <a class="profile" href="http://www.timothyamann.com/" target="_blank">Timothy Mann</a> (DeepMind)
</li>
</ul>

                                        </p>                        

<!-- 
                                        <nav aria-label="breadcrumb" role="navigation">
                                            <ol class="breadcrumb breadcrumb-header">
                                                <li class="breadcrumb-item breadcrumb-item-primary">
                                                   <h5 class="text-left">&nbsp;Call for Papers</h5>
                                                </li>
                                                <li class="breadcrumb-item breadcrumb-item-secondary" aria-current="page">
                                                   Journal Presentation Track
                                                </li>
                                            </ol>
                                        </nav>

                                        <p class="text-color go-for-nunito">
                                        </p>                        
 -->

                                    </div>

                                </div>

                            </div>

                            <div class="row" id="instructions">

                                <div class="col-12">

                                    <div class="jumbotron info-card text-color">

                                        <nav aria-label="breadcrumb" role="navigation">
                                            <ol class="breadcrumb breadcrumb-header">
                                                <li class="breadcrumb-item breadcrumb-item-primary">
                                                   <h5 class="text-left">&nbsp;Author Instructions</h5>
                                                </li>
                                                <li class="breadcrumb-item breadcrumb-item-secondary" aria-current="page">
                                                   [<a href="coming-soon.html" target="_blank" class="text-orange">Submission Link</a>]
                                                </li>
                                                <li class="breadcrumb-item breadcrumb-item-secondary" aria-current="page">
                                                   [<a href="https://www.aaai.org/Publications/Templates/AuthorKit19.zip" class="text-orange">Download AAAI Author Kit</a>]
                                                </li>
                                            </ol>
                                        </nav>

                                        <p class="text-color go-for-nunito">

Authors may submit long papers (8 pages plus up to one page of references) or short papers (4 pages plus up to one page of references). The type and track of the paper must be indicated at submission time.

Both long and short papers will be reviewed against the standard criteria of relevance, originality, significance, clarity and soundness, and are expected to meet the high standards set by ICAPS. Short papers may be of narrower scope. For example, they can either address a highly specific issue, or propose/evaluate a small, yet important, extension of previous work or a new idea.

<br>
<br>
Authors making multiple submissions must ensure that each submission has significant unique content. Papers submitted to ICAPS 2019 may not be submitted to other conferences or journals during the ICAPS 2019 review period, nor may be already under review or published in other conferences or journals. Over-length papers will be rejected without review.

<br>
<br>
All submissions will be made electronically. Submitted PDFs should be anonymous for double-blind and 
follow the AAAI author kit instructions for formatting.

<br>
<br>
In addition to the submitted PDF paper, authors can submit supplementary material (videos, technical proofs, additional experimental results) for their paper. Please make sure that the supporting material is also anonymized. Papers should be self-contained; reviewers are encouraged, but not obligated, to consider supporting material in their decision.

<br>
<br>
The proceedings will be published by AAAI Press. All accepted papers will be published in the main conference proceedings and will be presented orally at the conference (full papers will be allocated more time).

                                        </p>                        

                                    </div>

                                </div>

                            </div>

<!-- 
                            <div class="row" id="cfw">

                                <div class="col-12">

                                    <div class="jumbotron info-card text-color">

                                        <nav aria-label="breadcrumb" role="navigation">
                                            <ol class="breadcrumb breadcrumb-header">
                                                <li class="breadcrumb-item breadcrumb-item-primary">
                                                   <h5 class="text-left">&nbsp;Call for Workshops</h5>
                                                </li>
                                                <li class="breadcrumb-item breadcrumb-item-secondary" aria-current="page">
                                                   [<a href="#" class="text-orange">Click to download</a>]
                                                </li>
                                            </ol>
                                        </nav>

                                        <p class="text-color go-for-nunito">
                                            Coming soon ...
                                        </p>                        

                                    </div>

                                </div>

                            </div>

                            <div class="row" id="cft">

                                <div class="col-12">

                                    <div class="jumbotron info-card text-color">

                                        <nav aria-label="breadcrumb" role="navigation">
                                            <ol class="breadcrumb breadcrumb-header">
                                                <li class="breadcrumb-item breadcrumb-item-primary">
                                                   <h5 class="text-left">&nbsp;Call for Tutorials</h5>
                                                </li>
                                                <li class="breadcrumb-item breadcrumb-item-secondary" aria-current="page">
                                                   [<a href="#" class="text-orange">Click to download</a>]
                                                </li>
                                            </ol>
                                        </nav>

                                        <p class="text-color go-for-nunito">
                                            Coming soon ...
                                        </p>                        

                                    </div>

                                </div>

                            </div>
 -->

                        </div>

                    </div>
                </div><!-- end of on-canvas elements-->

            </div>
        </div><!-- end of canvas -->

        <div class="footer-container">

            <div class="d-block">
                <img src="files/images/banner_bottom.png" width="100%">
            </div>

            <div class="footer-bottom-left" style="width:100%;">

                <hr>

                <footer>
                    <p class="text-orange">&copy; ICAPS 2019</p>
                </footer>

            </div>

        </div>

    </div>

</body>

</html>
