<!-- <div class="d-none d-xl-block jumbotron info-card text-color"> -->
<div class="jumbotron info-card text-color">

    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb breadcrumb-header">
            <li class="breadcrumb-item breadcrumb-item-primary">
                <h5 class="text-left">Dates</h5>
            </li>
            <li class="breadcrumb-item breadcrumb-item-secondary" aria-current="page">
                UTC-12
            </li>
        </ol>
    </nav>

    <div id="short-deadlines" class="collapse in show">
        <table class="table info-table">
            <tbody class="sm-font-size">
                <tr><td>Early Registration Deadline</td><td>20 May</td></tr>
                <tr><td>Journal Track Notifications</td><td>26 May</td></tr>
                <tr><td>Doctoral Consortium</td><td>10 Jul</td></tr>
                <tr><td>Workshops and Tutoriails</td><td>11-12 Jul</td></tr>
                <tr><td>Main Conference</td><td>13-15 Jul</td></tr>
            </tbody>
        </table>
    </div>

</div>

 
<div class="d-none d-xl-block" id="twitter-block">
    <a class="twitter-timeline" data-lang="en" data-height="555" data-link-color="#E95F28" href="https://twitter.com/ICAPSConference?ref_src=twsrc%5Etfw">Tweets by ICAPSConference</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>

