<!DOCTYPE html>

<html lang="en" class="gr__getbootstrap_com">

<head>

    <!-- Metadata -->
    <link rel="icon" href="files/images/favicon.ico">
    <title>ICAPS-2019</title>

    <!-- Bootstrap core CSS -->
    <link href="bootstrap-4.0.0/css/bootstrap.min.css" rel="stylesheet">

    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">

    <!-- Custom styles for this template -->
    <link href="files/css/offcanvas.css" rel="stylesheet">
    <link href="files/css/custom.css" rel="stylesheet">

    <!-- jQuery -->
    <script src="files/js/jquery-3.2.1.min.js"></script>

    <!-- Bootstrap core JS -->
    <script src="bootstrap-4.0.0/js/popper.min.js"></script>
    <script src="bootstrap-4.0.0/js/bootstrap.min.js"></script>

    <!-- Custom JS -->
    <script src="files/js/custom.js"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="files/js/ie10-viewport-bug-workaround.js"></script>

</head>

<body data-spy="scroll" data-offset="100">

    [HEADER]

    [NAVBAR]

    [BANNER]

    <!-- this is the div containing *everything* under the banner -->
    <div class="set-background">

        <!--  follwoing two div only contributes to positioning of all on/off-canvas elements -->
        <div class="col-12 justify-content-center">
            <div class="row row-offcanvas row-offcanvas-right">

                <!--  this div contains the on-canvas elements -->
                <div class="col-12">
                    <div class="row">

                        <div class="col-12 col-xl-3">

                            [QUICKLINKS]

                            <!-- [DATES] -->

                        </div>

                        <div class="col-12 col-xl-9 call-card">

                            <div class="row">

                                <div class="col-12">


<div class="jumbotron info-card info-card-page-title" id="demos">
<ol class="breadcrumb breadcrumb-header org-team-header">
<li class="breadcrumb-item breadcrumb-item-primary">
<h5 class="card-title">Doctoral Consortium</h5>
<span class="text-muted card-title">Wednesday July 10</span>
</li>
</ol>

<table class="table table-striped table-responsive table-program" style="margin-bottom: 0;">
    <tbody class="go-big-for-current-font" style="text-align: center;">

        <tr>
            <td><b>11:15 - 11:30</b></td>
            <td class="bg-consortium text-orange">Arrival and check-in</td>
        </tr>

        <tr>
            <td><b>11:30 - 11:45</b></td>
            <td class="bg-consortium text-orange">Opening Remarks</td>
        </tr>

        <tr>
            <td><b>11:45 - 12:30</b></td>
            <td class="bg-workshops text-success">Spotlight talks</td>
        </tr>

        <tr>
            <td><b>12:30 – 2:00</b></td>
            <td class="bg-workshops text-success">Lunch (catered) &amp; mentee poster session</td>
        </tr>

        <tr>
            <td><b>2:00 – 2:45</b></td>
            <td class="bg-tutorials text-primary"><b>Invited Talk:</b> Anca Drǎgan &middot; <i>Learning Robot Reward Functions</i></td>
        </tr>

        <tr>
            <td><b>2:45 – 3:30</b></td>
            <td class="bg-tutorials text-primary"><b>Invited Talk:</b> Mykel Kochenderfer &middot; <i>Robust Decision Making for Safety Critical Applications</i></td>
        </tr>

        <tr>
            <td><b>3:30 - 4:00</b></td>
            <td class="bg-workshops text-success">Coffee break / discussion with mentors</td>
        </tr>

        <tr>
            <td><b>4:00 – 4:45</b></td>
            <td class="bg-tutorials text-primary">Panel on careers in planning and scheduling</td>
        </tr>

        <tr>
            <td><b>4:45 - 5:00</b></td>
            <td class="bg-consortium text-orange">Closing remarks</td>
        </tr>

    </tbody>
</table>


</div>


                                </div>

                            </div>

                        </div>

                    </div>
                </div><!-- end of on-canvas elements-->

            </div>
        </div><!-- end of canvas -->

        <div class="footer-container" style="margin-top: 100px;">

            <div class="d-block">
                <img src="files/images/banner_bottom.jpg" width="100%">
            </div>

            <div class="footer-bottom-left" style="width:100%;">

                <hr>

                <footer>
                    <p class="text-orange">&copy; ICAPS 2019 &middot; <a href="privacy-policy" class="text-orange">Privacy Policy</a> &middot; <a href="terms-of-use" class="text-orange">Terms of Use</a></p>
                </footer>

            </div>

        </div>

    </div>

</body>

</html>
