<div class="bg-inverse collapse navbar-dark bg-dark icapsHeader" id="navbarHeader" aria-expanded="false">
    <div class="container icapsHeader__container">

        <div class="row icapsHeader__container__row">

            <div class="col-sm-9 py-4 icapsHeader__container__row--left-block">

                <h4 class="text-muted">About ICAPS</h4>

                <p class="text-white">
                    The <a class="text-orange" href="http://www.icaps-conference.org/" target="_blank">International Conference on Automated Planning and Scheduling (ICAPS)</a> is the premier forum for researchers and practitioners in planning and scheduling - two technologies that are critical to manufacturing, space systems, software engineering, robotics, education, and entertainment. The ICAPS conference resulted from merging two bi-annual conferences, namely the International Conference on Artificial Intelligence Planning and Scheduling (AIPS) and the European Conference on Planning (ECP).
                    <br><br>
                    <a class="text-orange" href="http://icaps18.icaps-conference.org/" target="_blank">ICAPS 2018</a> was held from June 23-29, 2018 in Delft, The Netherlands. Conference chairs are Matthijs Spaan and Mathijs de Weerdt. Program chairs are Sven Koenig and Gabriele Röger.
                    <br><br>
                    <a class="text-orange" href="http://icaps17.icaps-conference.org/" target="_blank">ICAPS 2017</a> was held from June 18-23, 2017 in Pittsburgh, USA. Conference chairs were Stephen F. Smith and Laura Barbulescu. Program chairs were Jeremy Frank and Mausam.
                    <br><br>
                    <a class="text-orange" href="http://icaps16.icaps-conference.org/" target="_blank">ICAPS 2016</a> was held from June 12-17, 2016 in London, UK. Conference chairs were Andrew Coles and Daniele Magazzeni. Program chairs were Amanda Coles, Stefan Edelkamp, and Scott Sanner.
                </p>

            </div>

            <div class="col-sm-3 py-4 icapsHeader__container__row--right-block">
                <h4 class="text-muted">Contact</h4>
                <ul class="list-unstyled">
                    <li><a class="text-orange" href="http://www.icaps-conference.org/">Homepage</a></li>
                    <li><a class="text-orange" href="http://users.cecs.anu.edu.au/~patrik/sigaps/index.php">SIGAPS</a></li>
                    <li><a class="text-orange" href="https://groups.google.com/forum/#!forum/icaps-conference">Google Groups</a></li>
                    <br>
                    <li><span class="text-muted">Email the ICAPS organization @ <br><a class="text-muted" href="mailto:minh.do@nasa.gov">minh.do [AT] nasa.gov</a></span></li>
                </ul>
            </div>

        </div>

        <button type="button" class="btn btn-outline-secondary close-bg" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="true">Close</button>

    </div>
</div>
