<!DOCTYPE html>

<html lang="en" class="gr__getbootstrap_com">

<head>

    <!-- Metadata -->
    <link rel="icon" href="files/images/favicon.ico">
    <title>ICAPS-2019</title>

    <!-- Bootstrap core CSS -->
    <link href="bootstrap-4.0.0/css/bootstrap.min.css" rel="stylesheet">

    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">

    <!-- Custom styles for this template -->
    <link href="files/css/offcanvas.css" rel="stylesheet">
    <link href="files/css/custom.css" rel="stylesheet">

    <!-- jQuery -->
    <script src="files/js/jquery-3.2.1.min.js"></script>

    <!-- Bootstrap core JS -->
    <script src="bootstrap-4.0.0/js/popper.min.js"></script>
    <script src="bootstrap-4.0.0/js/bootstrap.min.js"></script>

    <!-- Custom JS -->
    <script src="files/js/custom.js"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="files/js/ie10-viewport-bug-workaround.js"></script>

</head>

<body data-spy="scroll" data-target="#main-body" data-offset="100" id="main-body">

    [HEADER]

    [NAVBAR]

    [BANNER]

    <!-- this is the div containing *everything* under the banner -->
    <div class="set-background">

        <!--  follwoing two div only contributes to positioning of all on/off-canvas elements -->
        <div class="col-12 justify-content-center">
            <div class="row row-offcanvas row-offcanvas-right">

                <!--  this div contains the on-canvas elements -->
                <div class="col-12 col-md-7 col-lg-8">
                    <div class="row">

                        <!-- toggle button to reveal off-canvas items in small screens -->
                        <div class="col-12 pull-over">
                            <div class="float-right d-md-none pull-right">
                                <div class="btn-group-vertical">
<!--                                     <button type="button" class="btn btn-dark btn-sm offcanvas-toggle-button caret" data-toggle="offcanvas">
                                        <i class="fas fa-caret-left"></i>
                                    </button>
 -->                                    <button type="button" class="btn btn-dark btn-sm offcanvas-toggle-button" data-toggle="offcanvas">
                                        <strong>&nbsp;ICAPS</strong> in action&nbsp;<i class="fas fa-caret-up"></i>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 d-block d-xl-none">

                            <div  id="intro" class="d-block d-xl-none jumbotron info-card text-color">
                                <p>

                                    The International Conference on Automated Planning and Scheduling (ICAPS) is the premier conference 
                                    on enabling smart decision-making in autonomous systems.
                                    ICAPS 2019 will be held July 11-15 in Berkeley (CA), USA.
                                    <hr>
                                    ICAPS 2019 will be co-located with the <a class="text-info" href="https://sites.google.com/view/iwpss2019" target="_blank">11th International Workshop on Planning and Scheduling for Space (IWPSS 2019)</a>. 
                                    <hr>
                                    ICAPS 2019 is also nearby and immediately followed by the
                                    <a class="text-info" href="http://users.fit.cvut.cz/surynpav/socs2019/" target="_blank"> 12th Annual Symposium on Combinatorial Search (SoCS)</a> in Napa, California from July 16-17; and the <a class="text-info" href="https://sites.usc.edu/cognitive-robotics/" target="_blank">Summer School in Cognitive Robotics</a> at the University of Southern California (USC) from July 17-21.

                                </p>
                            </div>

                        </div>

                        <div class="col-12 col-xl-4">

                            [QUICKLINKS]

                            [DATES]

                        </div>

                        <div class="col-12 col-xl-8">

                            <div  id="intro" class="d-none d-xl-block jumbotron info-card text-color">
                                <p>






                                    The International Conference on Automated Planning and Scheduling (ICAPS) is the premier conference 
                                    on enabling smart decision-making in autonomous systems.
                                    ICAPS 2019 will be held July 11-15 in Berkeley (CA), USA.
                                    <hr>
                                    Invited Speakers &middot; <a class="text-info" href="https://tidel.mie.utoronto.ca/beck.php" target="_blank">Christopher Beck</a>
                                    &middot; <a class="text-info" href="http://people.eecs.berkeley.edu/~anca/" target="_blank">Anca Dragan</a>
                                    &middot; <a class="text-info" href="https://uk.linkedin.com/in/derek-long-306b2890" target="_blank">Derek Long</a>
                                    <hr>
                                    ICAPS 2019 will be co-located with the <a class="text-info" href="https://sites.google.com/view/iwpss2019" target="_blank">11th International Workshop on Planning and Scheduling for Space (IWPSS 2019)</a>.
                                    <hr>
                                    ICAPS 2019 is also nearby and immediately followed by the
                                    <a class="text-info" href="http://users.fit.cvut.cz/surynpav/socs2019/" target="_blank"> 12th Annual Symposium on Combinatorial Search (SoCS)</a> in Napa, California from July 16-17; and the <a class="text-info" href="https://sites.usc.edu/cognitive-robotics/" target="_blank">Summer School in Cognitive Robotics</a> at the University of Southern California (USC) from July 17-21.

                                </p>
                            </div>

                            <div id="committee" class="jumbotron info-card col-12 text-color">

                                <nav aria-label="breadcrumb" role="navigation">
                                    <ol class="breadcrumb breadcrumb-header">
                                        <li class="breadcrumb-item breadcrumb-item-primary">
                                            <h5 class="text-left">&nbsp;Organizing Team</h5>
                                        </li>
                                    </ol>
                                </nav>

                                <table class="table info-table">
                                    <tbody class="sm-font-size">
                                        <tr><td>Conference Chairs</td><td><a class="profile" href="https://ti.arc.nasa.gov/profile/j-benton/" target="_blank">J. Benton</a> (NASA) <br> and <a class="profile" href="http://siddharthsrivastava.net/" target="_blank">Siddharth Srivastava</a> (ASU)</td></tr>
                                        <tr>
                                            <td>Program Chairs</td>
                                            <td><a class="profile" href="https://people.eng.unimelb.edu.au/nlipovetzky/" target="_blank">Nir Lipovetzky</a> (UniMelb) <br> <a class="profile" href="http://grps.webs.upv.es/" target="_blank">Eva Onaindia</a> (UPV) <br> and <a class="profile" href="http://psresearch.xyz/" target="_blank">David Smith</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="">Novel Applications Track Chairs</td>
                                            <td><a class="profile" href="https://pure.hud.ac.uk/en/persons/simon-parkinson" target="_blank">Simon Parkinson</a> (Hud) <br> and <a class="profile" href="https://researcher.watson.ibm.com/researcher/view.php?person=us-ssohrab" target="_blank">Shirin Sohrabi</a> (IBM)
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="">Robotics Track Chairs</td>
                                            <td><a class="profile" href="http://www.pracsyslab.org/bekris" target="_blank">Kostas Bekris</a> (Rutgers) <br> and <a class="profile" href="http://wpage.unina.it/alberto.finzi/" target="_blank">Alberto Finzi</a> (UniNa)
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="">Planning and Learning Track Chairs</td>
                                            <td><a class="profile" href="http://web.engr.oregonstate.edu/~afern/" target="_blank">Alan Fern</a> (OSU) <br> and <a class="profile" href="http://www.timothyamann.com/" target="_blank">Timothy Mann</a> (DeepMind)
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="">Journal Presentation Track Chairs</td>
                                            <td><a class="profile" href="https://nms.kcl.ac.uk/amanda.coles/" target="_blank">Amanda Coles</a> (KCL) <br> <a class="profile" href="http://www.haz.ca/" target="_blank">Christian Muise</a> (IBM) <br> and <a class="profile" href="http://www.sift.net/staff/dan-bryce" target="_blank">Daniel Bryce</a> (SIFT)
                                            </td>
                                        </tr>
                                        <tr><td>Workshop Chairs</td><td><a class="profile" href="http://www.cs.rhul.ac.uk/home/sara/" target="_blank">Sara Bernardini</a> (RHUL) <br> and <a class="profile" href="https://ai.jpl.nasa.gov/public/people/tvaquero/" target="_blank">Tiago Vaquero</a> (JPL)</td></tr>
                                        <tr><td>Tutorial Chairs</td><td><a class="profile" href="http://makro.ink/" target="_blank">Mark Roberts</a> (NRL) <br> and <a class="profile" href="https://researcher.watson.ibm.com/researcher/view.php?person=us-krtalamad" target="_blank">Kartik Talamadupula</a> (IBM)</td></tr>
                                        <tr><td>System Demonstration Chairs</td><td><a class="profile" href="https://web.iem.technion.ac.il/en/people/userprofile/karpase.html" target="_blank">Erez Karpas</a> (Technion) <br> and <a class="profile" href="https://www.niemueller.de/" target="_blank">Tim Niemueller</a> (RWTH Aachen)</td></tr>
                                        <tr><td>Doctoral Consortium Chairs</td><td><a class="profile" href="http://www.ccs.neu.edu/home/camato/" target="_blank">Christopher Amato</a> (NEU) <br> <a class="profile" href="http://www.mysmu.edu/faculty/akshatkumar/" target="_blank">Akshat Kumar</a> (SMU) <br> and <a class="profile" href="https://www.microsoft.com/en-us/research/people/akolobov/" target="_blank">Andrey Kolobov</a> (MSR)</td></tr>
                                        <tr><td>Local Arrangements Chair</td><td><a class="profile" href="https://www.linkedin.com/in/varmaricha" target="_blank">Richa Varma</a> (UTRC)</td></tr>
                                        <tr><td>Publicity Chair</td><td><a class="profile" href="http://tchakra2.com" target="_blank">Tathagata Chakraborti</a> (IBM)</td></tr>
                                        <tr><td>Sponsorship Chairs</td><td><a class="profile" href="https://ti.arc.nasa.gov/profile/frank/" target="_blank">Jeremy Frank</a> (NASA) <br><a class="profile" href="https://nms.kcl.ac.uk/daniele.magazzeni/" target="_blank">Daniele Magazzeni</a> (KCL) <br> and <a class="profile" href="http://xplan-lab.org/" target="_blank">Hankz Hankui Zhuo</a> (Sun Yat-sen)</td></tr>
                                        <tr><td style="padding-bottom: 20px;">Advisory Chair</td><td><a class="profile" href="https://people.eecs.berkeley.edu/~russell/" target="_blank">Stuart Russell</a> (UC Berkeley)</td></tr>
                                        <tr><td style="padding-top: 10px; border-top-color: #a20000;"><a class="profile" href="organizing-team.html">View full organizing team >></a></td></tr>
                                    </tbody>
                                </table>

                            </div>

                        </div>

                    </div>
                </div><!-- end of on-canvas elements-->

                <!-- this div contains all the off-canvas elements -->
                <div class="col-12 col-md-5 col-lg-4 sidebar-offcanvas">

                    <div class="jumbotron info-card">

                        <!-- header for highlight list -->
                        <nav aria-label="breadcrumb" role="navigation">
                            <ol class="breadcrumb breadcrumb-header" style="margin-bottom: 0px;">
                                <li class="breadcrumb-item">
                                    <h5 class="text-left go-big-for-current-font">ICAPS in Action</h5>
                                </li>
                                <li class="breadcrumb-item">
                                    <a id="ins-toggler" href="#" data-toggle="collapse" class="cactive" data-target="#long-instructions">
                                        [Contribute]
                                    </a>
                                </li>
                            </ol>
                        </nav>


                        <div id="long-instructions" class="collapse in">
                           <nav aria-label="breadcrumb" role="navigation">
                                <ol class="breadcrumb breadcrumb-header">
                                    <p>
To Fellow Planners,
<br><br>
The ICAPS 2019 Organizing Team would like to invite you to submit a summary of your work featured in a past ICAPS conference for potential inclusion in a highlight feature on the ICAPS 2019 website. This segment of the website will serve to make the conference more accessible to AI researchers outside the planning community as well as to website visitors who may be new to AI and are curious about the kind of research that ICAPS engenders. 
<br><br>
We are particularly looking for high impact works (including, but not limited to, contributions that have been awarded Best/Classic Papers, Dissertations, Demos, etc.) that have appeared in previous ICAPS conferences. If you are interested, please contact<br><br>-- tchakra2 [AT] asu [DOT] edu<br><br>with a brief abstract (~100 words) of your contribution and 1 to 3 1000x600 images that you think best illustrates your work. The latter can be a snapshot of working software, deployment, etc. (and usually not architecture diagrams, pseudocodes or algorithm walkthroughs). We are looking for illustrations that would be visually appealing and of interest to persons who are interested in AI but may not be aware of the role of planning and scheduling. 
<br><br>
<a href="#" data-toggle="collapse" class="cactive" data-target="#long-instructions">
[Close]
</a>
                                    </p>
                                </ol>
                            </nav>
                         </div>

                        <!-- this is the main carousel for displaying icaps topic highlights  -->
                        <!-- description will collapse on small screens  -->
                        [CAROUSEL]

                    </div><!-- end of info-card -->

                </div><!-- end of off-canvas elements -->

            </div>
        </div><!-- end of canvas -->

        <div class="footer-container">

            <div class="d-block">
                <img src="files/images/banner_bottom.jpg" width="100%">
            </div>

            <div class="footer-bottom-left" style="width:100%;">

                <hr>

                <footer>
                    <p class="text-orange">&copy; ICAPS 2019 &middot; <a href="privacy-policy" class="text-orange">Privacy Policy</a> &middot; <a href="terms-of-use" class="text-orange">Terms of Use</a></p>
                </footer>

            </div>

        </div>

    </div>

</body>

</html>
