<!DOCTYPE html>

<html lang="en" class="gr__getbootstrap_com">

<head>

    <!-- Metadata -->
    <link rel="icon" href="files/images/favicon.ico">
    <title>ICAPS-2019</title>

    <!-- Bootstrap core CSS -->
    <link href="bootstrap-4.0.0/css/bootstrap.min.css" rel="stylesheet">

    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">

    <!-- Custom styles for this template -->
    <link href="files/css/offcanvas.css" rel="stylesheet">
    <link href="files/css/custom.css" rel="stylesheet">

    <!-- jQuery -->
    <script src="files/js/jquery-3.2.1.min.js"></script>

    <!-- Bootstrap core JS -->
    <script src="bootstrap-4.0.0/js/popper.min.js"></script>
    <script src="bootstrap-4.0.0/js/bootstrap.min.js"></script>

    <!-- Custom JS -->
    <script src="files/js/custom.js"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="files/js/ie10-viewport-bug-workaround.js"></script>

</head>

<body data-spy="scroll" data-target="#ws-body" data-offset="100" id="ts-body">

    [HEADER]

    [NAVBAR]

    [BANNER]

    <!-- this is the div containing *everything* under the banner -->
    <div class="set-background">

        <!--  follwoing two div only contributes to positioning of all on/off-canvas elements -->
        <div class="col-12 justify-content-center">
            <div class="row row-offcanvas row-offcanvas-right">

                <!--  this div contains the on-canvas elements -->
                <div class="col-12">
                    <div class="row">

                        <div class="col-12 col-xl-3">

                            [QUICKLINKS]

                            [DATES]

                        </div>

                        <div class="col-12 col-xl-9 call-card">

                            <div class="row" id="registration">

                                <div class="col-12">

                                    <div class="jumbotron info-card text-color info-card-page-title">

                                        <ol class="breadcrumb breadcrumb-header org-team-header">
                                        <li class="breadcrumb-item breadcrumb-item-primary">
                                            <h5 class="card-title">Registration Details</h5>
                                        </li>
                                        </ol>

                                        <div class="container" style="padding-top: 20px; padding-bottom: 20px;">                                        

                                        <hr>

                                        <table class="table info-table">
                                            <tbody class="text-justify go-big-for-current-font"> 
                                                <tr><td>Registration link: <a class="profile" href="http://eiseverywhere.com/icaps19" target="_blank">http://eiseverywhere.com/icaps19</a></td></tr>
                                            </tbody>
                                        </table>

                                        <hr>

                                        <table class="info-table">
                                            <tbody class="text-justify go-big-for-current-font">
                                                <tr><td></td><td><b>Regular</b></td><td><b>Student</b></td></tr>
                                                <tr><td><b>Early Registration: May 20th </b><span class="text-danger">(PDT, UTC-07:00)</span></td><td class="indent">750 USD</td><td class="indent">500 USD</td></tr>
                                                <tr><td><b>From May 21st to July 9th </b><span class="text-danger">(PDT, UTC-07:00)</span></td><td class="indent">900 USD</td><td class="indent">650 USD</td></tr>
                                                <tr><td><b>From July 10th (on-site registration)</b></td><td class="indent">1000 USD</td><td class="indent">850 USD</td></tr>
                                            </tbody>
                                        </table>

                                        <hr>

                                        <p class="go-for-nunito">

<b>Code of Conduct Summary:</b> 
The International Conference on Automated Planning and Scheduling (ICAPS) is dedicated to providing an inclusive conference experience for everyone. Attendees are expected to:
<ul>
<li>
Treat everyone with respect and courtesy.
</li>
<li>
Avoid disruptive or abusive behavior.
</li>
<li>
Refrain from offensive or disparaging language.
</li>
<li>
Never intimidate or act aggressively toward anyone.
</li>
</ul>

Violators of the code of conduct may face consequences including, but not limited to, being barred from future ICAPS conferences.  The full code of conduct for the conference can be found <a class="profile" href="http://www.icaps-conference.org/index.php/Main/CodeOfConduct" target="_blank">HERE</a>.

                                        </p>                        

                                        <hr>

                                        <p class="go-for-nunito">

<b>Cancellation policy:</b> 
Cancellations before the 20th of June 2019 will be honored with a $200 processing charge. After this date, we will not be able to issue refunds. Cancellation requests can be sent to 
<a class="profile" href="mailto:amaroon@executivevents.com">amaroon@executivevents.com</a>. 
Please note that arranging refunds may require additional time.

                                        </p>                        

                                        <hr>

                                        <p class="go-for-nunito">

<b>Contact information:</b>
<br>
ICAPS 2019
<br>
Mountain View, CA 94041
<br>
Email: <a class="profile" href="mailto:2019icaps@gmail.com">2019icaps@gmail.com</a>
<br>
Phone: +1 (650) 314-9955 

                                        </p>                        
                                        </div>

                                    </div>

                                </div>

                            </div>

                            <div class="row" id="venue">

                                <div class="col-12">

                                    <div class="jumbotron info-card text-color info-card-page-title">

                                        <ol class="breadcrumb breadcrumb-header org-team-header">
                                        <li class="breadcrumb-item breadcrumb-item-primary">
                                            <h5 class="card-title">Venue and Accommodation</h5>
                                        </li>
                                        </ol>

                                        <div class="container" style="padding-top: 20px; padding-bottom: 20px;">                                        

                                        <p class="text-color go-for-nunito">

                                            ICAPS 2019 will take place at the University of California, Berkeley (UC Berkeley) in Berkeley, California, USA. 

                                        </p>                        

                                        <table class="table info-table">
                                            <tbody class="go-big-for-current-font">
                                                <tr><td>Pre-conference (Workshops, Tutorials, and DC) &middot; <a href="https://citris-uc.org/visitor-information/" target="_blank" class="profile">Sutardja Dai Hall</a></td></tr>
                                                <tr><td>Main Conference &middot; <a href="https://www.berkeley.edu/map?mlk" target="_blank" class="profile">Martin Luther King, Jr. Student Union &middot; Pauley Ballroom</a></td></tr>
                                                <tr><td></td></tr>
                                            </tbody>
                                        </table>

                                        <p class="text-color go-for-nunito">

                                            Berkeley is a city on the east shore of San Francisco Bay in northern Alameda County, California. Berkeley is home to the oldest campus in the University of California system, the University of California, Berkeley, and the Lawrence Berkeley National Laboratory, which is managed and operated by the University. Berkeley is one of the most politically liberal cities in USA. <span class="text-muted"><em>[Wikipedia]</em></span>

                                        </p>                        

                                        <table class="table info-table">
                                            <tbody class="go-big-for-current-font">
                                                <tr><td class="indent">

<b>Nearby Hotel Options:</b> Our room block is at the <a class="profile" href="https://www.hotelshattuckplaza.com/" target="_blank">Hotel Shattuck Plaza</a>, located in Downtown Berkeley, within walking distance to both ICAPS conference venues. 
Our discounted group rate is $239/night and can be booked by clicking <a class="profile" href="https://reservations.travelclick.com/17233?groupID=2498896#/guestsandrooms" target="_blank">here</a>. 
You can also call the hotel directly at <b>866-466-9199</b> and reference our group code: <b>1907ICAPS2019</b>.  

                                                </td></tr>
                                                <tr><td></td></tr>
                                            </tbody>
                                        </table>

                                        <table class="table info-table">
                                            <tbody class="go-big-for-current-font">
                                                <tr><td class="indent">

<b>Student accommodations:</b> Student accommodations are also available to students when they register. If you have already registered you should have received an email with details for signing up. These accommodations are available on a first-come-first-served basis. If you haven't received the email, please contact Ashley at <a class="profile" href="mailto:amaroon@executivevents.com">amaroon@executivevents.com</a>.

                                                </td></tr>
                                                <tr><td></td></tr>
                                            </tbody>
                                        </table>

                                        </div>

                                    </div>

                                </div>

                            </div>

                            <div class="row" id="visa">

                                <div class="col-12">

                                    <div class="jumbotron info-card text-color info-card-page-title">

                                        <ol class="breadcrumb breadcrumb-header org-team-header">
                                        <li class="breadcrumb-item breadcrumb-item-primary">
                                            <h5 class="card-title">Request Visa Invitation Letter</h5>
                                        </li>
                                        </ol>

                                        <div class="container" style="padding-top: 20px; padding-bottom: 20px;">                                        

                                            <p class="text-color go-for-nunito">

                                                In order to obtain an invitation letter from ICAPS 2019, invited speakers and authors of papers can send an email to 

                                                <ul>
                                                    <li>
                                                        <span class="profile">siddharths [AT] asu.edu</span> with "<strong>ICAPS visa invitation letter</strong>" in the subject 
                                                    </li>
                                                    <li>
                                                        with the following information: name, address, affiliation, paper title, nationality and date of birth. If you do not have a paper in the main conference, please mention your workshop, tutorial or demo track involvement. 
                                                    </li>
                                                </ul>

                                                The invitation letter can be used for visa applications. The letter cannot be used for refunds on registration fees.

                                            </p>                        

                                        </div>

                                    </div>

                                </div>

                            </div>

                            <div class="row" id="transit">

                                <div class="col-12">

                                    <div class="jumbotron info-card text-color info-card-page-title">

                                        <ol class="breadcrumb breadcrumb-header org-team-header">
                                        <li class="breadcrumb-item breadcrumb-item-primary">
                                            <h5 class="card-title">Transit Information</h5>
                                        </li>
                                        </ol>

                                        <div class="container" style="padding-top: 20px; padding-bottom: 20px;">                                        

                                        <table class="table info-table">
                                            <tbody class="go-big-for-current-font">
                                                <tr><td class="indent">

A printer friendly version of transit instructions can be downloaded <a class="profile" href="files/pdfs/icaps-2019-transit.pdf" target="_blank">here</a>.

                                                </td></tr>
                                                <tr><td></td></tr>
                                            </tbody>
                                        </table>

                                        <table class="table info-table">
                                            <tbody class="go-big-for-current-font">
                                                <tr><td class="indent">

<b>Limited Mobility:</b> If you have requests for assistance related to limited mobility, please contact <a class="profile" href="2019icaps@gmail.com" target="_blank">2019icaps@gmail.com</a> before June 7th and we will attempt to find aid.

                                                </td></tr>
                                                <tr><td></td></tr>
                                            </tbody>
                                        </table>

                                        </div>

<ol class="breadcrumb breadcrumb-header org-team-header sub" style="background-color: #c7f1ff;">
<li class="breadcrumb-item breadcrumb-item-primary">
<h6 class="card-title profile" style="color:#01698b;">Airports</h6>
</li>
</ol>

                                        <div class="container" style="padding-top: 20px; padding-bottom: 20px;">                                        

The city of Berkeley is near both Oakland International Airport (OAK) and San Francisco International Airport (SFO). If you arrive during Bay Area Rapid Transit (BART) subway operating hours (see below), both airports will have reasonable public transit options that will arrive near to conference accommodations and venues. If you arrive outside of those hours, you may need to use a taxi cab or rideshare service. If you plan to take a taxi or rideshare then OAK will likely provide the least expensive and quickest transit. However, SFO provides more international and domestic flights and typically has less expensive flights. 

<br>
<br>

                                        <table class="table info-table">
                                            <tbody class="go-big-for-current-font">
                                                <tr><td class="indent">

<b>Note:</b> Although Mineta San Jose International Airport (SJC) is sometimes included in flight search results, it is quite far from the venue. We do not recommend it unless you have other business in the area.


                                                </td></tr>
                                                <tr><td></td></tr>
                                            </tbody>
                                        </table>

                                        </div>

<ol class="breadcrumb breadcrumb-header org-team-header sub" style="background-color: #c7f1ff;">
<li class="breadcrumb-item breadcrumb-item-primary">
<h6 class="card-title profile" style="color:#01698b;">Public Transit &amp; the Clipper Card</h6>
</li>
</ol>

                                        <div class="container" style="padding-top: 20px; padding-bottom: 20px;">                                        


<div class="row">
<div class="col-4">
<img src="files/images/transit/clipper-card.png" width="100%" class="mb-2" />
Clipper Card automated kiosk. 
<span class="text-muted">
Public domain photo by J. Benton
</span>
</div>

<div class="col-8">
Clipper cards allow easy public transit fare payment across the Bay Area (including on buses and trains). Using a Clipper card avoids the need to carry currency. You may obtain these at the train stations at the San Francisco International Airport, Oakland International Airport, and at the Downtown Berkeley Station. They cost 3 USD but most public transit services offer fare discounts when you use a Clipper card. Fare money can be added at any train station (for immediate availability) or at clippercard.com (available within 2 days).
</div>
</div>

                                        </div>

<ol class="breadcrumb breadcrumb-header org-team-header sub" style="background-color: #c7f1ff;">
<li class="breadcrumb-item breadcrumb-item-primary">
<h6 class="card-title profile" style="color:#01698b;">Taking Bay Area Rapid Transit (BART) Trains</h6>
</li>
</ol>

<div class="container" style="padding-top: 20px; padding-bottom: 20px;">                                        

If you arrive outside of BART boarding hours (listed below) you may need to take a taxi or rideshare (Lyft or Uber) service to the venue. BART train boarding hours:

<ul>
<li>
Monday through Friday: 4 am (0400) to 11:59 pm (2359)
</li>
<li>
Saturday: 6 am (0600) to 12:01 am (2359)
</li>
<li>
Sunday: 8 am (0800) to 12:01 am (2359)
</li>
</ul>

Last trains:
<ul>
<li>
San Francisco International Airport BART Train (Yellow Line) leaves at 11:54 pm
</li>
<li>
Oakland International Airport BART (Beige Line/Shuttle) leaves at 12:01 am
</li>
</ul>

The BART subway system services both the Oakland International Airport (OAK) and the San Francisco International Airport (SFO). To reach ICAPS 2019 when taking BART a reasonable subgoal is exiting the train at the <b>Downtown Berkeley Station</b>.

</div>

<ol class="breadcrumb breadcrumb-header org-team-header sub" style="background-color: #c7f1ff;">
<li class="breadcrumb-item breadcrumb-item-primary">
<h6 class="card-title profile" style="color:#01698b;">Taking Buses in Berkeley</h6>
</li>
</ol>

<div class="container" style="padding-top: 20px; padding-bottom: 20px;">                                        
The main bus company operating within Berkeley is called <a class="profile" href="http://www.actransit.org/" target="_blank">AC Transit</a>. 
They charge 2.35 USD per ride and request exact change when boarding (though you may pay 3 USD and they will not complain and will not give you back the difference). To avoid the need to carry money, you may purchase a Clipper card and add adequate funds to it. 
</div>

<ol class="breadcrumb breadcrumb-header org-team-header sub" style="background-color: #c7f1ff;">
<li class="breadcrumb-item breadcrumb-item-primary">
<h6 class="card-title profile" style="color:#01698b;">Transit Instructions to ICAPS 2019 Accommodations</h6>
</li>
</ol>

<div class="container" style="padding-top: 20px; padding-bottom: 20px;">                                        

Please see below for instructions on reaching ICAPS 2019 accommodations from San Francisco International Airport (SFO) and Oakland International Airport (OAK).

</div>

<ol class="breadcrumb breadcrumb-header org-team-header" style="background-color: #d4d4d4;">
<li class="breadcrumb-item breadcrumb-item-primary">
<h6 style="font-weight: normal;"><b>FROM</b> San Francisco International Airport <b>TO</b> Downtown Berkeley Station</h6> 
</li>
</ol>

<ol class="breadcrumb breadcrumb-header">
<li class="breadcrumb-item breadcrumb-item-primary">
<span class="text-muted" style="font-weight: normal;">Transit time: approximately 1 hour, 15 minutes by BART</span>
</li>
</ol>

<div class="container" style="padding-bottom: 20px;">                                        

<div class="col-6">
<img src="files/images/transit/sfo-bart.png" width="100%" class="mb-2" />
Sign in front of the SFO Bart Station inside the San Francisco International Airport.
<span class="text-muted">
Public domain photo by J. Benton
</span>
</div>

<br>
To get to the station, follow signs for BART or BART/Caltrain or ask airport staff at an Information Kiosk to assist you. You will need either a Clipper card (see above) or a BART ticket. Those can be purchased in the station at automated kiosks.

Board the <span style="color:#f3b300;"><b>yellow</b></span> line train in the direction of San Francisco-Pittsburg-Bay Point. Transfer to the <span class="text-danger"><b>red</b></span> or <span class="text-orange"><b>orange</b></span> Richmond line at 19th-Street Oakland. Exit at the Downtown Berkeley Station.

For those using transit directions from other sources (e.g., Google Maps):

<ul>
<li>
You can change to the <span class="text-danger"><b>red</b></span> or <span class="text-orange"><b>orange</b></span> lines at several stations, but we recommend using the 19th-Street Oakland station when you have luggage.
</li>
<li>
You may also take the <span style="color:purple;"><b>purple</b></span> line to the Millbrae station (also called the BART/Caltrain station) to transfer to the <span class="text-danger"><b>red</b></span> line.
</li>
</ul>

<div class="col-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
<img src="files/images/transit/map-1.png" width="100%"/>
</div>

</div>

<ol class="breadcrumb breadcrumb-header org-team-header" style="background-color: #d4d4d4;">
<li class="breadcrumb-item breadcrumb-item-primary">
<h6 style="font-weight: normal;"><b>FROM</b> Oakland International Airport <b>TO</b> Downtown Berkeley Station</h6> 
</li>
</ol>

<ol class="breadcrumb breadcrumb-header">
<li class="breadcrumb-item breadcrumb-item-primary">
<span class="text-muted" style="font-weight: normal;">Transit time: approximately 50 minutes by BART</span>
</li>
</ol>

<div class="container" style="padding-bottom: 20px;">                                        

You will need to exit the terminals to reach the BART station. Take the Oakland International Airport BART to the Coliseum station. This service is sometimes called the <span style="color:#bd9b68;"><b>"beige line"</b></span>, but BART does not refer to it as such. From the Coliseum station take the orange line headed towards Richmond. Exit at the Downtown Berkeley station (~25-minute ride).

<br>
<br>
<div class="col-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
<img src="files/images/transit/map-2.png" width="100%"/>
</div>

</div>

<ol class="breadcrumb breadcrumb-header org-team-header" style="background-color: #d4d4d4;">
<li class="breadcrumb-item breadcrumb-item-primary">
<h6 style="font-weight: normal;"><b>FROM</b> Downtown Berkeley Station <b>TO</b> Hotel Shattuck Plaza</h6> 
</li>
</ol>

<ol class="breadcrumb breadcrumb-header">
<li class="breadcrumb-item breadcrumb-item-primary">
<span class="text-muted" style="font-weight: normal;">Transit time: approximately 1 minute by foot</span>
</li>
</ol>

<div class="container" style="padding-bottom: 20px;">                                        

Hotel Shattuck Plaza is one street block away from Downtown Berkeley Station; it is very close (about 130 meters/450 feet). After exiting the station proceed south toward the street called Allston Way. <span class="text-danger">If you approached Center Street, you probably went the wrong direction.</span> You will see a Walgreens Pharmacy as you reach Allston Way. Cross to the south side of Allston and turn right to follow it west from that corner. You will see the Hotel Shattuck Plaza on your left. You should only need to cross Allston. <span class="text-danger">If you crossed two streets, you likely made a mistake. If you reached Milvia Street, you may have passed the Hotel Shattuck Plaza without realizing it.</span>

<br>
<br>
<div class="col-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
<img src="files/images/transit/map-3.png" width="100%" class="mb-2" />
<span class="text-muted">
&copy; Google Maps
</span>
</div>

</div>

<ol class="breadcrumb breadcrumb-header org-team-header" style="background-color: #d4d4d4;">
<li class="breadcrumb-item breadcrumb-item-primary">
<h6 style="font-weight: normal;"><b>FROM</b> Downtown Berkeley Station <b>TO</b> Residential Hall Unit 1</h6> 
</li>
</ol>

<ol class="breadcrumb breadcrumb-header">
<li class="breadcrumb-item breadcrumb-item-primary">
<span class="text-muted" style="font-weight: normal;">Transit time: approximately 15 minutes by bus or 20 minutes by foot</span>
</li>
</ol>

<div class="container" style="padding-bottom: 20px;">                                        

Resident Hall Unit 1 is at 2650 Durrant Street, Berkeley, CA (<a class="profile" href="https://goo.gl/maps/waY2KFiKNK5utiar7" target="_blank">https://goo.gl/maps/waY2KFiKNK5utiar7</a>). 
You may either take public transit, walk, or use a rideshare service (e.g., Uber or Lyft) to Residential Hall Unit 1. 

</div>

<ol class="breadcrumb breadcrumb-header">
<li class="breadcrumb-item breadcrumb-item-primary">
<span class="text-muted" style="font-weight: normal;">Bus</span>
</li>
</ol>

<div class="container" style="padding-bottom: 20px;">                                        

If you have limits on mobility we suggest a rideshare service over transit with a bus from Downtown Berkeley Station to Resident Hall Unit 1. The walk to and from the bus stops totals to approximately 0.2 miles (0.3 km) to 0.5 miles (0.75 km) depending on the route you take. To obtain bus instructions, please use one of the services listed on the AC Transit site (<a class="profile" href="" target="_blank">http://www.actransit.org/trip-planner/</a>).

</div>

<ol class="breadcrumb breadcrumb-header">
<li class="breadcrumb-item breadcrumb-item-primary">
<span class="text-muted" style="font-weight: normal;">Walking</span>
</li>
</ol>

<div class="container" style="padding-bottom: 20px;">                                        

It is approximately a 0.9 mile (1.5 km) walk in total. To walk there, proceed south toward a street called Allston Way. <span class="text-danger">If you approached Center Street, you probably went the wrong direction.</span> You will cross Kittredge Street and Bancroft Way. You will walk approximately 0.5 km (approximately 0.25 miles) to reach Durrant Street. Turn left (east) on to Durrant Street. You will cross Fulton Street. <span class="text-danger">If you reached Milvia Street, you probably went the wrong direction.</span> You will then cross Ellsworth Street, Dana Street, Telegraph Avenue, and Bowditch Street. You will see a building with a "Unit 1" sign next to the address 2650 Durant. This is your destination. <span class="text-danger">If you reached College Avenue, you probably passed Unit 1 without realizing it.</span> 

<br>
<br>
<ul>
<li>
You may also see Google Maps (<a class="profile" href="https://goo.gl/maps/eSR9DTBVFYJfWCkD9" target="_blank">https://goo.gl/maps/eSR9DTBVFYJfWCkD9</a>) for these directions.
</li>
</ul>

<div class="col-4 col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
<img src="files/images/transit/durant.png" width="100%" class="mb-2" />
<span class="text-muted">
&copy; Google Maps
</span>
</div>

</div>



                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>
                </div><!-- end of on-canvas elements-->

            </div>
        </div><!-- end of canvas -->

        <div class="footer-container" style="margin-top: 100px;">

            <div class="d-block">
                <img src="files/images/banner_bottom.jpg" width="100%">
            </div>

            <div class="footer-bottom-left" style="width:100%;">

                <hr>

                <footer>
                    <p class="text-orange">&copy; ICAPS 2019 &middot; <a href="privacy-policy" class="text-orange">Privacy Policy</a> &middot; <a href="terms-of-use" class="text-orange">Terms of Use</a></p>
                </footer>

            </div>

        </div>

    </div>


</body>

</html>
