<!DOCTYPE html>

<html lang="en" class="gr__getbootstrap_com">

<head>

    <!-- Metadata -->
    <link rel="icon" href="files/images/favicon.ico">
    <title>ICAPS-2019</title>

    <!-- Bootstrap core CSS -->
    <link href="bootstrap-4.0.0/css/bootstrap.min.css" rel="stylesheet">

    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">

    <!-- Custom styles for this template -->
    <link href="files/css/offcanvas.css" rel="stylesheet">
    <link href="files/css/custom.css" rel="stylesheet">

    <!-- jQuery -->
    <script src="files/js/jquery-3.2.1.min.js"></script>

    <!-- Bootstrap core JS -->
    <script src="bootstrap-4.0.0/js/popper.min.js"></script>
    <script src="bootstrap-4.0.0/js/bootstrap.min.js"></script>

    <!-- Custom JS -->
    <script src="files/js/custom.js"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="files/js/ie10-viewport-bug-workaround.js"></script>

</head>

<body data-spy="scroll" data-target="#ws-body" data-offset="100" id="ts-body">

    [HEADER]

    [NAVBAR]

    [BANNER]

    <!-- this is the div containing *everything* under the banner -->
    <div class="set-background">

        <!--  follwoing two div only contributes to positioning of all on/off-canvas elements -->
        <div class="col-12 justify-content-center">
            <div class="row row-offcanvas row-offcanvas-right">

                <!--  this div contains the on-canvas elements -->
                <div class="col-12">
                    <div class="row">

                        <div class="col-12 col-xl-3">

                            [QUICKLINKS]

                            [DATES]

                        </div>

                        <div class="col-12 col-xl-9 call-card">

                            <div class="row" id="registration">

                                <div class="col-12">

                                    <div class="jumbotron info-card text-color info-card-page-title">

                                        <ol class="breadcrumb breadcrumb-header org-team-header">
                                        <li class="breadcrumb-item breadcrumb-item-primary">
                                            <h5 class="card-title">Registration Details</h5>
                                        </li>
                                        </ol>

                                        <div class="container" style="padding-top: 20px; padding-bottom: 20px;">                                        

                                        <hr>

                                        <table class="table info-table">
                                            <tbody class="text-justify go-big-for-current-font"> 
                                                <tr><td>Registration link: <a href="http://eiseverywhere.com/icaps19" target="_blank">http://eiseverywhere.com/icaps19</a></td></tr>
                                                <!-- <tr><td class="text-danger">Registration is currently down and we’re actively working on fixing it.</td></tr> -->
                                            </tbody>
                                        </table>

                                        <hr>

                                        <table class="table info-table">
                                            <tbody class="text-justify go-big-for-current-font">
                                                <tr><td class="profile">Early Registration Deadline: May 20th</td></tr>
                                                <tr><td>Regular early registration: $750</td></tr>
                                                <tr><td>Student early registration: $500</td></tr>
                                                <tr><td class="profile">From May 21st</td></tr>
                                                <tr><td>Regular registration: $900</td></tr>
                                                <tr><td>Student registration: $650</td></tr>
                                                <tr><td class="profile">From July 10th (conference start)</td></tr>
                                                <tr><td>On-site regular registration: $1000</td></tr>
                                                <tr><td>On-site student registration: $850</td></tr>
                                            </tbody>
                                        </table>

                                        <hr>

                                        <p class="go-for-nunito">

<b>Code of Conduct Summary:</b> 
The International Conference on Automated Planning and Scheduling (ICAPS) is dedicated to providing an inclusive conference experience for everyone. Attendees are expected to:
<ul>
<li>
Treat everyone with respect and courtesy.
</li>
<li>
Avoid disruptive or abusive behavior.
</li>
<li>
Refrain from offensive or disparaging language.
</li>
<li>
Never intimidate or act aggressively toward anyone.
</li>
</ul>

Violators of the code of conduct may face consequences including, but not limited to, being barred from future ICAPS conferences.  The full code of conduct for the conference can be found <a href="http://www.icaps-conference.org/index.php/Main/CodeOfConduct" target="_blank">HERE</a>.

                                        </p>                        

                                        <hr>

                                        <p class="go-for-nunito">

<b>Cancellation policy:</b> 
Cancellations before the 20th of June 2019 will be honored with a $200 processing charge. After this date, we will not be able to issue refunds. Cancellation requests can be sent to 
<a href="mailto:amaroon@executivevents.com">amaroon@executivevents.com</a>. 
Please note that arranging refunds may require additional time.

                                        </p>                        

                                        <hr>

                                        <p class="go-for-nunito">

<b>Contact information:</b>
<br>
ICAPS 2019
<br>
Mountain View, CA 94041
<br>
Email: <a href="mailto:2019icaps@gmail.com">2019icaps@gmail.com</a>
<br>
Phone: +1 (650) 314-9955 

                                        </p>                        
                                        </div>

                                    </div>

                                </div>

                            </div>

                            <div class="row" id="venue">

                                <div class="col-12">

                                    <div class="jumbotron info-card text-color info-card-page-title">

                                        <ol class="breadcrumb breadcrumb-header org-team-header">
                                        <li class="breadcrumb-item breadcrumb-item-primary">
                                            <h5 class="card-title">Venue Details</h5>
                                        </li>
                                        </ol>

                                        <div class="container" style="padding-top: 20px; padding-bottom: 20px;">                                        

                                        <p class="text-color go-for-nunito">

                                            ICAPS 2019 will take place at the University of California, Berkeley (UC Berkeley) in Berkeley, California, USA. 

                                        </p>                        

                                        <table class="table info-table">
                                            <tbody class="go-big-for-current-font">
                                                <tr><td>Pre-conference (Workshops, Tutorials, and DC) &middot; <a href="https://citris-uc.org/visitor-information/" target="_blank" class="profile">Sutardja Dai Hall</a></td></tr>
                                                <tr><td>Main Conference &middot; <a href="https://www.berkeley.edu/map?mlk" target="_blank" class="profile">Martin Luther King, Jr. Student Union &middot; Pauley Ballroom</a></td></tr>
                                                <tr><td class="text-muted">Details about nearby hotel options will be posted here soon.</td></tr>
                                                <tr><td></td></tr>
                                            </tbody>
                                        </table>

                                        <p class="text-color go-for-nunito">

                                            Berkeley is a city on the east shore of San Francisco Bay in northern Alameda County, California. Berkeley is home to the oldest campus in the University of California system, the University of California, Berkeley, and the Lawrence Berkeley National Laboratory, which is managed and operated by the University. Berkeley is one of the most politically liberal cities in USA. <span class="text-muted"><em>[Wikipedia]</em></span>

                                        </p>                        

                                        </div>

                                    </div>

                                </div>

                            </div>

                            <div class="row" id="visa">

                                <div class="col-12">

                                    <div class="jumbotron info-card text-color info-card-page-title">

                                        <ol class="breadcrumb breadcrumb-header org-team-header">
                                        <li class="breadcrumb-item breadcrumb-item-primary">
                                            <h5 class="card-title">Request Visa Invitation Letter</h5>
                                        </li>
                                        </ol>

                                        <div class="container" style="padding-top: 20px; padding-bottom: 20px;">                                        

                                            <p class="text-color go-for-nunito">

                                                In order to obtain an invitation letter from ICAPS 2019, invited speakers and authors of papers can send an email to 

                                                <ul>
                                                    <li>
                                                        <span class="profile">siddharths [AT] asu.edu</span> with "<strong>ICAPS visa invitation letter</strong>" in the subject 
                                                    </li>
                                                    <li>
                                                        with the following information: name, address, affiliation, paper title, nationality and date of birth. If you do not have a paper in the main conference, please mention your workshop, tutorial or demo track involvement. 
                                                    </li>
                                                </ul>

                                                The invitation letter can be used for visa applications. The letter cannot be used for refunds on registration fees.

                                            </p>                        

                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>
                </div><!-- end of on-canvas elements-->

            </div>
        </div><!-- end of canvas -->

        <div class="footer-container" style="margin-top: 100px;">

            <div class="d-block">
                <img src="files/images/banner_bottom.jpg" width="100%">
            </div>

            <div class="footer-bottom-left" style="width:100%;">

                <hr>

                <footer>
                    <p class="text-orange">&copy; ICAPS 2019 &middot; <a href="privacy-policy" class="text-orange">Privacy Policy</a> &middot; <a href="terms-of-use" class="text-orange">Terms of Use</a></p>
                </footer>

            </div>

        </div>

    </div>


</body>

</html>
