<nav class="navbar navbar-inverse bg-inverse navbar-expand-md fixed-top navbar-dark">

    <button class="navbar" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" id="icapsButton">
        <img src="files/images/icapslogo.png"/>
    </button>

    <button class="btn btn-dark navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu" aria-controls="navbar-menu" aria-expanded="false" id="navDropdownButton">
        <span class="navbar-toggler-icon"></span>
    </button>

    <nav class="navbar-collapse collapse" id="navbar-menu">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link spy-enabled" href="">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link spy-enabled" href="calls">Calls</a>
            </li>
            <li class="nav-item">
                <a class="nav-link spy-enabled" href="program">Program</a>
            </li>
            <li class="nav-item">
                <a class="nav-link spy-enabled" href="workshops">Workshops</a>
            </li>
            <li class="nav-item">
                <a class="nav-link spy-enabled" href="coming-soon">Tutorials</a>
            </li>
            <li class="nav-item">
                <a class="nav-link spy-enabled" href="index.html#venue">Venue</a>
            </li>
            <li class="nav-item">
                <a class="nav-link spy-enabled" href="organizing-team">Committee</a>
            </li>
        </ul>
    </nav>

</nav>

<button class="navbar" type="button" style="margin:0;padding:0;">
    <div class="col-12 d-none d-md-block banner" style="background-image: url('files/images/banner-fade.jpg'); background-size: 100%;">
        <img src="files/images/banner.jpg" width="100%"/>
    </div>

    <div class="col-12 d-block d-md-none banner" style="background-image: url('files/images/banner-fade-mini.jpg'); background-size: 100%;">
        <img src="files/images/banner-mini.jpg" width="100%"/>
    </div>
</button>

