<nav class="navbar navbar-inverse bg-inverse navbar-expand-md fixed-top navbar-dark">

    <button class="navbar" type="button" data-toggle="collapse" data-target="#navbarHeader" id="icapsButton">
        <img src="files/images/icapslogo.png"/>
    </button>

    <button class="btn btn-dark navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu" id="navDropdownButton">
        <span class="navbar-toggler-icon"></span>
    </button>

    <nav class="navbar-collapse collapse" id="navbar-menu">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link spy-enabled" href="https://icaps19.icaps-conference.org/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link spy-enabled" href="calls">Calls</a>
            </li>
            <li class="dropdown nav-item">
                <a class="nav-link dropdown-toggle" href="program" role="button" data-toggle="dropdown">Program</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item navbar-dropdown-item" href="program">Program Overview &nbsp; <span class="badge badge-warning">New</span></a>
                    <a class="dropdown-item navbar-dropdown-item" href="program-details">Program Details &nbsp; <span class="badge badge-warning">New</span></a>
                    <a class="dropdown-item navbar-dropdown-item" href="accepted-papers">Accepted Papers</a>
                    <a class="dropdown-item navbar-dropdown-item" href="invited-talks">Invited Talks</a>
                    <a class="dropdown-item navbar-dropdown-item" href="journal-track">Journal Track</a>
                    <a class="dropdown-item navbar-dropdown-item" href="demos">Demos</a>
                    <a class="dropdown-item navbar-dropdown-item" href="workshops">Workshops</a>
                    <a class="dropdown-item navbar-dropdown-item" href="tutorials">Tutorials</a>
                </div>
            </li>
            <li class="dropdown nav-item">
                <a class="nav-link dropdown-toggle" href="info" role="button" data-toggle="dropdown">Attending</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item navbar-dropdown-item" href="info.html#registration">Registration</a>
                    <a class="dropdown-item navbar-dropdown-item" href="info.html#venue">Venue</a>
                    <a class="dropdown-item navbar-dropdown-item" href="info.html#venue">Accommodations</a>
                    <a class="dropdown-item navbar-dropdown-item" href="info.html#visa">Invitation Letter</a>
                    <a class="dropdown-item navbar-dropdown-item" href="info.html#transit">Transit</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link spy-enabled" href="awards">Awards</a>
            </li>
            <li class="nav-item">
                <a class="nav-link spy-enabled" href="organizing-team">Committee</a>
            </li>
        </ul>
    </nav>

</nav>
