<!DOCTYPE html>

<html lang="en" class="gr__getbootstrap_com">

<head>

    <!-- Metadata -->
    <link rel="icon" href="files/images/favicon.ico">
    <title>ICAPS-2019</title>

    <!-- Bootstrap core CSS -->
    <link href="bootstrap-4.0.0/css/bootstrap.min.css" rel="stylesheet">

    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">

    <!-- Custom styles for this template -->
    <link href="files/css/offcanvas.css" rel="stylesheet">
    <link href="files/css/custom.css" rel="stylesheet">

    <!-- jQuery -->
    <script src="files/js/jquery-3.2.1.min.js"></script>

    <!-- Bootstrap core JS -->
    <script src="bootstrap-4.0.0/js/popper.min.js"></script>
    <script src="bootstrap-4.0.0/js/bootstrap.min.js"></script>

    <!-- Custom JS -->
    <script src="files/js/custom.js"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="files/js/ie10-viewport-bug-workaround.js"></script>

</head>

<body data-spy="scroll" data-target="#ws-body" data-offset="100" id="committee-body">

    [HEADER]

    [NAVBAR]

    [BANNER]

    <!-- this is the div containing *everything* under the banner -->
    <div class="set-background">

        <!--  follwoing two div only contributes to positioning of all on/off-canvas elements -->
        <div class="col-12 justify-content-center">
            <div class="row row-offcanvas row-offcanvas-right">

                <!--  this div contains the on-canvas elements -->
                <div class="col-12">
                    <div class="row">

                        <div class="col-12 col-xl-3">

                            [QUICKLINKS]

                            <!-- [DATES] -->

                        </div>

                        <div class="col-12 col-xl-9 call-card">

                            <div class="row" id="workshops">

                                <div class="col-12">

<div class="jumbotron info-card info-card-page-title">
<ol class="breadcrumb breadcrumb-header">
<li class="breadcrumb-item breadcrumb-item-primary">
<h5 class="card-title">Organizing Team</h5>
</li>
</ol>
</div>

<div class="jumbotron info-card">
<div class="card-body">

                                <table class="table info-table">
                                    <tbody class="sm-font-size">
                                        <tr><td>Conference Chairs</td><td><a class="profile" href="https://ti.arc.nasa.gov/profile/j-benton/" target="_blank">J. Benton</a> (NASA) <br> and <a class="profile" href="http://siddharthsrivastava.net/" target="_blank">Siddharth Srivastava</a> (ASU)</td></tr>
                                        <tr>
                                            <td>Program Chairs</td>
                                            <td><a class="profile" href="https://people.eng.unimelb.edu.au/nlipovetzky/" target="_blank">Nir Lipovetzky</a> (UniMelb) <br> <a class="profile" href="http://grps.webs.upv.es/" target="_blank">Eva Onaindia</a> (UPV) <br> and <a class="profile" href="http://psresearch.xyz/" target="_blank">David Smith</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="">Novel Applications Track Chairs</td>
                                            <td><a class="profile" href="https://pure.hud.ac.uk/en/persons/simon-parkinson" target="_blank">Simon Parkinson</a> (Hud) <br> and <a class="profile" href="https://researcher.watson.ibm.com/researcher/view.php?person=us-ssohrab" target="_blank">Shirin Sohrabi</a> (IBM)
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="">Robotics Track Chairs</td>
                                            <td><a class="profile" href="http://www.pracsyslab.org/bekris" target="_blank">Kostas Bekris</a> (Rutgers) <br> and <a class="profile" href="http://wpage.unina.it/alberto.finzi/" target="_blank">Alberto Finzi</a> (UniNa)
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="">Planning and Learning Track Chairs</td>
                                            <td><a class="profile" href="http://web.engr.oregonstate.edu/~afern/" target="_blank">Alan Fern</a> (OSU) <br> and <a class="profile" href="http://www.timothyamann.com/" target="_blank">Timothy Mann</a> (DeepMind)
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="">Journal Presentation Track Chairs</td>
                                            <td><a class="profile" href="https://nms.kcl.ac.uk/amanda.coles/" target="_blank">Amanda Coles</a> (KCL) <br> <a class="profile" href="http://www.haz.ca/" target="_blank">Christian Muise</a> (IBM) <br> and <a class="profile" href="http://www.sift.net/staff/dan-bryce" target="_blank">Daniel Bryce</a> (SIFT)
                                            </td>
                                        </tr>
                                        <tr><td>Workshop Chairs</td><td><a class="profile" href="http://www.cs.rhul.ac.uk/home/sara/" target="_blank">Sara Bernardini</a> (RHUL) <br> and <a class="profile" href="https://ai.jpl.nasa.gov/public/people/tvaquero/" target="_blank">Tiago Vaquero</a> (JPL)</td></tr>
                                        <tr><td>Tutorial Chairs</td><td><a class="profile" href="http://makro.ink/" target="_blank">Mark Roberts</a> (NRL) <br> and <a class="profile" href="https://researcher.watson.ibm.com/researcher/view.php?person=us-krtalamad" target="_blank">Kartik Talamadupula</a> (IBM)</td></tr>
                                        <tr><td>System Demonstration Chairs</td><td><a class="profile" href="https://web.iem.technion.ac.il/en/people/userprofile/karpase.html" target="_blank">Erez Karpas</a> (Technion) <br> and <a class="profile" href="https://www.niemueller.de/" target="_blank">Tim Niemueller</a> (RWTH Aachen)</td></tr>
                                        <tr><td>Doctoral Consortium Chairs</td><td><a class="profile" href="http://www.ccs.neu.edu/home/camato/" target="_blank">Christopher Amato</a> (NEU) <br> <a class="profile" href="http://www.mysmu.edu/faculty/akshatkumar/" target="_blank">Akshat Kumar</a> (SMU) <br> and <a class="profile" href="https://www.microsoft.com/en-us/research/people/akolobov/" target="_blank">Andrey Kolobov</a> (MSR)</td></tr>
                                        <tr><td>Local Arrangements Chair</td><td><a class="profile" href="https://www.linkedin.com/in/varmaricha" target="_blank">Richa Varma</a> (UTRC)</td></tr>
                                        <tr><td>Publicity Chair</td><td><a class="profile" href="http://tchakra2.com" target="_blank">Tathagata Chakraborti</a> (IBM)</td></tr>
                                        <tr><td>Sponsorship Chairs</td><td><a class="profile" href="https://ti.arc.nasa.gov/profile/frank/" target="_blank">Jeremy Frank</a> (NASA) <br><a class="profile" href="https://nms.kcl.ac.uk/daniele.magazzeni/" target="_blank">Daniele Magazzeni</a> (KCL) <br> and <a class="profile" href="http://xplan-lab.org/" target="_blank">Hankz Hankui Zhuo</a> (Sun Yat-sen)</td></tr>
                                        <tr><td>Advisory Chair</td><td><a class="profile" href="https://people.eecs.berkeley.edu/~russell/" target="_blank">Stuart Russell</a> (UC Berkeley)</td></tr>
                                    </tbody>
                                </table>

</div>
</div>


[TRACK-TABLES]


                                </div>

                            </div>

                        </div>

                    </div>
                </div><!-- end of on-canvas elements-->

            </div>
        </div><!-- end of canvas -->

        <div class="footer-container" style="margin-top: 100px;">

            <div class="d-block">
                <img src="files/images/banner_bottom.jpg" width="100%">
            </div>

            <div class="footer-bottom-left" style="width:100%;">

                <hr>

                <footer>
                    <p class="text-orange">&copy; ICAPS 2019 &middot; <a href="privacy-policy" class="text-orange">Privacy Policy</a> &middot; <a href="terms-of-use" class="text-orange">Terms of Use</a></p>
                </footer>

            </div>

        </div>

    </div>

</body>

</html>
