<!DOCTYPE html>

<html lang="en" class="gr__getbootstrap_com">

<head>

    <!-- Metadata -->
    <link rel="icon" href="files/images/favicon.ico">
    <title>ICAPS-2019</title>

    <!-- Bootstrap core CSS -->
    <link href="bootstrap-4.0.0/css/bootstrap.min.css" rel="stylesheet">

    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">

    <!-- Custom styles for this template -->
    <link href="files/css/offcanvas.css" rel="stylesheet">
    <link href="files/css/custom.css" rel="stylesheet">

    <!-- jQuery -->
    <script src="files/js/jquery-3.2.1.min.js"></script>

    <!-- Bootstrap core JS -->
    <script src="bootstrap-4.0.0/js/popper.min.js"></script>
    <script src="bootstrap-4.0.0/js/bootstrap.min.js"></script>

    <!-- Custom JS -->
    <script src="files/js/custom.js"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="files/js/ie10-viewport-bug-workaround.js"></script>

</head>

<body data-spy="scroll" data-offset="100">

    [HEADER]

    [NAVBAR]

    [BANNER]

    <!-- this is the div containing *everything* under the banner -->
    <div class="set-background">

        <!--  follwoing two div only contributes to positioning of all on/off-canvas elements -->
        <div class="col-12 justify-content-center">
            <div class="row row-offcanvas row-offcanvas-right">

                <!--  this div contains the on-canvas elements -->
                <div class="col-12">
                    <div class="row">

                        <div class="col-12 col-xl-3">

                            [QUICKLINKS]

                            <!-- [DATES] -->

                        </div>

                        <div class="col-12 col-xl-9 call-card">

                            <div class="row">

                                <div class="col-12">

<div class="jumbotron info-card info-card-page-title" id="program-details">

<ol class="breadcrumb breadcrumb-header org-team-header">
<li class="breadcrumb-item breadcrumb-item-primary">
<h5 class="card-title">Program Details</h5>
<table class="info-table">
  <tbody class="text-justify go-big-for-current-font">
      <tr><td class="indent" style="font-weight: normal;">Click <a class="profile" href="files/pdfs/icaps19_program.pdf">here</a> to download the detailed program.</td></tr>
  </tbody>
</table>
</li>
</ol>

<ol class="breadcrumb breadcrumb-header" style="margin:0;">
<li class="breadcrumb-item breadcrumb-item-primary">
<span class="text-muted" style="font-weight: normal;">
<i class="fas fa-circle text-warning"></i> Invited Talks &nbsp;
<i class="fas fa-circle text-info"></i> <i class="fas fa-circle text-success"></i> Sessions &nbsp;
<i class="fas fa-circle text-danger"></i> Events
</span>
</li>
</ol>

<table class="table table-striped table-responsive table-program">
    <tbody class="go-big-for-current-font" style="text-align: center;">

        <tr><td rowspan="10" class="bg-main text-danger">July 13</td><td>8:30-9:30</td><td class="bg-consortium profile" colspan="6">Invited Talk: Anca Dragan</td></tr>
        <tr><td>9:40-10:40</td><td class="bg-workshops text-success" colspan="3">Classical Planning</td><td class="bg-tutorials text-info" colspan="3">Planetary Exploration</td></tr>
        <tr><td>10:40-10:40</td><td colspan="6" class="text-muted">Coffee Break</td></tr>
        <tr><td>9:40-10:40</td><td class="bg-workshops text-success" colspan="3">Probabilistic Planning I</td><td class="bg-tutorials text-info" colspan="3">LTL &amp; Temporal Planning</td></tr>
        <tr><td>12:30-14:00</td><td colspan="6" class="text-muted">Lunch Break</td></tr>
        <tr><td>9:40-10:40</td><td class="bg-workshops text-success" colspan="3">Search</td><td class="bg-tutorials text-info" colspan="3">Reinforcement Learning</td></tr>
        <tr><td>15:30-15:50</td><td colspan="6" class="text-muted">Coffee Break</td></tr>
        <tr><td>15:50-16:30</td><td class="bg-workshops text-success" rowspan="2" colspan="3">Invited Industry Session</td><td class="bg-tutorials text-info" colspan="3">Hybrid Planning &amp; Algorithm Selection</td></tr>
        <tr><td>16:40-17:40</td><td class="bg-tutorials text-info" colspan="3">Complexity</td></tr>
        <tr><td>18:00-20:00</td><td colspan="6" class="bg-main text-danger">Poster &amp; Demo session (drinks & appetizers provided)</td></tr>

        <tr><td colspan="8"></td></tr>

    </tbody>
</table>

</div>

                                </div>

                            </div>

                        </div>

                    </div>
                </div><!-- end of on-canvas elements-->

            </div>
        </div><!-- end of canvas -->

        <div class="footer-container" style="margin-top: 100px;">

            <div class="d-block">
                <img src="files/images/banner_bottom.jpg" width="100%">
            </div>

            <div class="footer-bottom-left" style="width:100%;">

                <hr>

                <footer>
                    <p class="text-orange">&copy; ICAPS 2019 &middot; <a href="privacy-policy" class="text-orange">Privacy Policy</a> &middot; <a href="terms-of-use" class="text-orange">Terms of Use</a></p>
                </footer>

            </div>

        </div>

    </div>

</body>

</html>
