<!DOCTYPE html>

<html lang="en" class="gr__getbootstrap_com">

<head>

    <!-- Metadata -->
    <link rel="icon" href="files/images/favicon.ico">
    <title>ICAPS-2019</title>

    <!-- Bootstrap core CSS -->
    <link href="bootstrap-4.0.0/css/bootstrap.min.css" rel="stylesheet">

    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">

    <!-- Custom styles for this template -->
    <link href="files/css/offcanvas.css" rel="stylesheet">
    <link href="files/css/custom.css" rel="stylesheet">

    <!-- jQuery -->
    <script src="files/js/jquery-3.2.1.min.js"></script>

    <!-- Bootstrap core JS -->
    <script src="bootstrap-4.0.0/js/popper.min.js"></script>
    <script src="bootstrap-4.0.0/js/bootstrap.min.js"></script>

    <!-- Custom JS -->
    <script src="files/js/custom.js"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="files/js/ie10-viewport-bug-workaround.js"></script>

</head>

<body data-spy="scroll" data-target="#ws-body" data-offset="100" id="program-body">

    [HEADER]

    [NAVBAR]

    [BANNER]

    <!-- this is the div containing *everything* under the banner -->
    <div class="set-background">

        <!--  follwoing two div only contributes to positioning of all on/off-canvas elements -->
        <div class="col-12 justify-content-center">
            <div class="row row-offcanvas row-offcanvas-right">

                <!--  this div contains the on-canvas elements -->
                <div class="col-12">
                    <div class="row">

                        <div class="col-12 col-xl-3">

                            [QUICKLINKS]

                            [DATES]

                        </div>

                        <div class="col-12 col-xl-9 call-card">

                            <div class="row" id="accepted_papers">

                                <div class="col-12">

<div class="jumbotron info-card info-card-page-title" id="invited">
<ol class="breadcrumb breadcrumb-header org-team-header">
<li class="breadcrumb-item breadcrumb-item-primary">
<h5 class="card-title">Invited Talks</h5>
</li>
</ol>


<div class="list-group">

<a class="list-group-item text-dark" href="http://people.eecs.berkeley.edu/~anca/" target="_blank">Anca Dragan
<span class="text-muted"> &bull; U.C. Berkeley</span>
</a>

<a class="list-group-item text-dark" href="https://tidel.mie.utoronto.ca/beck.php" target="_blank">Christopher Beck
<span class="text-muted"> &bull; U. Toronto</span>
</a>

<a class="list-group-item text-dark" href="https://uk.linkedin.com/in/derek-long-306b2890" target="_blank">Derek Long
<span class="text-muted"> &bull; Schlumberger &amp; Kings College London</span>
</a>

</div>

</div>

<div class="jumbotron info-card info-card-page-title" id="papers">
<ol class="breadcrumb breadcrumb-header org-team-header">
<li class="breadcrumb-item breadcrumb-item-primary">
<h5 class="card-title">Accepted Papers</h5>
</li>
</ol>

[PAPERS]

</div>

<div class="jumbotron info-card info-card-page-title" id="demos">
<ol class="breadcrumb breadcrumb-header org-team-header">
<li class="breadcrumb-item breadcrumb-item-primary">
<h5 class="card-title">Demonstration Track</h5>
</li>
</ol>

[DEMOS]

</div>

                                </div>

                            </div>

                        </div>

                    </div>
                </div><!-- end of on-canvas elements-->

            </div>
        </div><!-- end of canvas -->

        <div class="footer-container" style="margin-top: 100px;">

            <div class="d-block">
                <img src="files/images/banner_bottom.jpg" width="100%">
            </div>

            <div class="footer-bottom-left" style="width:100%;">

                <hr>

                <footer>
                    <p class="text-orange">&copy; ICAPS 2019</p>
                </footer>

            </div>

        </div>

    </div>

<!-- Modal -->
<div class="modal fade" id="paper-info" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Paper Information</h4>
        <button type="button" class="close" data-dismiss="modal">
            <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">

<div class="input-group mb-3">
  <span class="input-group-addon">Title</span>
  <div type="text" class="form-control" id="paper-title">
  </div>
</div>

<div class="input-group mb-3">
  <span class="input-group-addon">Authors</span>
  <div type="text" class="form-control" id="paper-authors" style="display: block;">
  </div>
</div>

<div class="input-group mb-3">
  <span class="input-group-addon">Abstract</span>
  <div type="text" class="form-control" id="paper-abstract">
  </div>
</div>

<div class="input-group mb-3">
  <span class="input-group-addon">Contact</span>
  <div type="text" class="form-control">
    <span class="obfuscate" id="paper-contact">
    </span>
  </div>
</div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

</body>

</html>
