<div class="list-group quicklink-buttons">
    <a href="[CFP]#instructions" class="list-group-item list-group-item-action go-big-for-current-font spy-enabled">Author Instructions</a>
    <a href="https://www.aaai.org/Publications/Templates/AuthorKit19.zip" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center go-big-for-current-font indent">AAAI Author Kit</a>
    <a href="cfp.html#cft" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center go-big-for-current-font spy-enabled">
    Call for Tutorials</a>
    <a href="workshops.html#workshops" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center go-big-for-current-font spy-enabled">
    Accepted Workshops</a>
</div>

<!-- 
<div class="d-none d-xl-block" id="twitter-block">
    <a class="twitter-timeline" data-lang="en" data-height="555" data-link-color="#E95F28" href="https://twitter.com/ICAPSConference?ref_src=twsrc%5Etfw">Tweets by ICAPSConference</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
-->

