<div class="list-group quicklink-buttons">
    <div class="btn-group btn-group-sm mb-2 openrev-ws-links" role="group">
        <a role="button" href="https://openreview.net/" target="_blank" class="btn btn-outline-info text-white">
            OpenReview &nbsp; <span class="badge badge-warning">New</span>
        </a>

        <div class="btn-group btn-group-sm btn-block" role="group">
            <button type="button" class="btn btn-info ws-roll btn-block" data-toggle="dropdown">
                <span class="ws-roll-content"></span>
            </button>
            <div class="dropdown-menu bg-info">
                <a role="button" href="https://openreview.net/group?id=icaps-conference.org/ICAPS/2019/Workshop/HSDIP" target="_blank" class="dropdown-item bg-info list-group-item">HSDIP</a>
                <a role="button" href="https://openreview.net/group?id=icaps-conference.org/ICAPS/2019/Workshop/XAIP" target="_blank" class="dropdown-item bg-info list-group-item">XAIP</a>
                <a role="button" href="https://openreview.net/group?id=icaps-conference.org/ICAPS/2019/Workshop/KEPS" target="_blank" class="dropdown-item bg-info list-group-item">KEPS</a>
                <a role="button" href="https://openreview.net/group?id=icaps-conference.org/ICAPS/2019/Workshop/WIPC" target="_blank" class="dropdown-item bg-info list-group-item">WIPC</a>
                <a role="button" href="https://openreview.net/group?id=icaps-conference.org/ICAPS/2019/Workshop/Hierarchical_Planning" target="_blank" class="dropdown-item bg-info list-group-item">HPlan</a>
                <a role="button" href="https://openreview.net/group?id=icaps-conference.org/ICAPS/2019/Workshop/SPARK" target="_blank" class="dropdown-item bg-info list-group-item">SPARK</a>
                <a role="button" href="https://openreview.net/group?id=icaps-conference.org/ICAPS/2019/Workshop/VRDIP" target="_blank" class="dropdown-item bg-info list-group-item">VRDIP</a>
            </div>
        </div>

    </div>
    <a href="files/images/icaps2019.png" target="_blank" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center go-big-for-current-font"> 
        Download the ICAPS 2019 Poster
    </a>
    <a href="calls.html#instructions" class="list-group-item list-group-item-action go-big-for-current-font spy-enabled">Author Instructions</a>
    <a href="https://www.aaai.org/Publications/Templates/AuthorKit19.zip" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center go-big-for-current-font indent">AAAI Author Kit</a>
    <a href="http://www.aaai.org/Publications/Author/icaps-submit.php" target="_blank" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center go-big-for-current-font indent">Submit Camera Ready</a>
    <a href="calls.html#demo" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center go-big-for-current-font spy-enabled">
    Submit to Demonstration Track</a>
    <a href="calls.html#instructions" class="list-group-item list-group-item-action go-big-for-current-font spy-enabled">Attending</a>
    <a href="info.html#venue" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center go-big-for-current-font spy-enabled indent">
    Venue Details</a>
    <a href="info.html#support" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center go-big-for-current-font spy-enabled indent">
    Apply for Student Support</a>
    <a href="info.html#visa" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center go-big-for-current-font spy-enabled indent">
    Request Invitation Letter</a>
    <a href="program" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center go-big-for-current-font spy-enabled">
    Accepted Papers</a>
    <a href="workshops" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center go-big-for-current-font spy-enabled">
    Workshops</a>
    <a href="tutorials" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center go-big-for-current-font spy-enabled">
    Tutorials</a>
</div>
