<div class="list-group quicklink-buttons">
    <a href="files/images/icaps2019.png" target="_blank" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center go-big-for-current-font"> 
        Download the ICAPS 2019 Poster
    </a>
    <a href="[CFP]#instructions" class="list-group-item list-group-item-action go-big-for-current-font spy-enabled">Author Instructions</a>
    <a href="https://www.aaai.org/Publications/Templates/AuthorKit19.zip" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center go-big-for-current-font indent">AAAI Author Kit</a>
    <a href="cfp.html#cft" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center go-big-for-current-font spy-enabled">
    Call for Tutorials</a>
    <a href="workshops.html#workshops" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center go-big-for-current-font spy-enabled">
    Accepted Workshops</a>
</div>


