                        <div id="carouselIndicators" class="carousel slide carousel-primary lazy" data-ride="carousel">

                            <ol class="carousel-indicators">
                                [CAROUSEL-INDICATORS]
                            </ol>

                            <div class="carousel-inner">

                                <div class="carousel-item active" id="rem-icaps-slide">
                                    <img class="d-block w-100 fade-to-black" src="files/images/carousel/icaps.png">
                                </div>

                                [CAROUSEL-INNER]

                            </div>

                            <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>

                            <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>

                        </div><!-- end main carousel -->

<div class="container carousel-control-set">

  <div class="player text-center">

    <button type="button" id="button_bw" class="btn carousel-control">
        <span class="oi oi-media-skip-backward"></span>
    </button>
    
    <button type="button" id="button_play" class="btn carousel-control">
        <span class="oi oi-media-pause"></span>
    </button>
    
    <button type="button" id="button_stop" class="btn carousel-control">
        <span class="oi oi-media-skip-forward"></span>
    </button>

  </div>

</div>



<nav aria-label="breadcrumb" role="navigation">
<ol class="breadcrumb breadcrumb-header">

[CAROUSEL-ELEMENTS]

</ol>
</nav>
